/* General Styles */
body {
    font-family: 'Georgia', serif;
    background-color: #faf0e6;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: auto;
}
/* Header */
header {
    background-color: #052E54;
    padding: 20px;
}

header .container {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between logo and navigation */
    max-width: 1200px; /* Add a max width for better centering */
    margin: 0 auto; /* Center the container horizontally */
    width: 100%;
}

.logo {
    flex-shrink: 0;
    width: auto; /* Allow the logo to size proportionally */
    max-width: 200px; /* Adjust maximum width as needed */
}

nav {
    flex-grow: 1;
    text-align: right; /* Align navigation items to the right */
}

/* Base styles */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
}

nav ul li {
    text-align: center;
    background-color: #052E54;
    border: 1px solid white;
    flex: 1; /* Make navigation items flexible */
}

nav ul li a {
    display: block;
    padding: 15px 30px; /* Adjust padding to make boxes equal height */
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    box-sizing: border-box;
    white-space: nowrap; /* Prevent text from wrapping */
}

nav ul li a:hover {
    background-color: white;
    color: #052E54;
    text-decoration: none;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Stack navigation items vertically */
        align-items: flex-start; /* Align items to the left */
    }

    nav ul li {
        width: 100%; /* Make navigation items full width */
        margin-left: 0; /* Remove horizontal spacing */
        margin-bottom: 10px; /* Add vertical spacing */
    }

    nav ul li a {
        padding: 10px 20px; /* Adjust padding for smaller screens */
    }
}

/* Reduce width when horizontal */
@media (min-width: 769px) {
    nav ul li {
        max-width: 150px; /* Limit the width of the navigation items */
    }
}


/* Hero Section */
.hero {
    position: relative;
    height: 60vh;
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


.hero .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 2;
    padding: 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero .btn {
    background-color: 	#c7884a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
}

.hero .btn:hover {
    background-color: #8b5a2b; /* Darkened Gold */
}
.btn {
    background-color: #e67e22;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
/* About Section */
.about {
    padding: 50px 0;
    color: #052E54;

}

.about .container{
    border: 2px solid #052E54;
    padding: 20px;
}

.about h2 {
    font-size: 36px;
}

.about p {
    font-size: 18px;
}

/* Services Section */
.services {
    padding: 50px 0;
    background-color: #052E54;
    color: white;
}

.services h2 {
    font-size: 36px;
}

.services ul {
    list-style: none;
    padding: 0;
    border-bottom: 1px #ccc;
}

.services ul li {
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

/*Quote Section*/
.quote {
    position: relative;
    padding: 50px 0;
    background-color: #faf0e6;
}

.quote .container {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-around; /* Equal spacing between items and edges */
    padding: 20px; /* Padding inside the box */
}

.quote .container img {
    flex: 1; /* Allow image to grow or shrink */
    max-width: 50%; /* Limit image width */
    height: auto; /* Maintain aspect ratio */
    border: 2px double #052E54; /* Border style */
    padding: 10px; /* Padding inside the border */
}

.quote h2 {
    flex: 0 0 30%; /* Set text to take up 30% of available width */
    font-size: 24px;
    text-align: center; /* Center text horizontally */
    margin: 0; /* Reset margin */
    color: #052E54;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .quote .container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    .quote .container img {
        max-width: 80%; /* Adjust image width for small screens */
        margin-bottom: 20px; /* Add space below the image */
        order: 1;
    }

    .quote h2 {
        flex: 1; /* Allow text to grow or shrink */
        width: 100%; /* Ensure text takes up full width */
        order: 2;
    }
}


/* Footer */

footer {
    color: #ccc;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    padding: 20px;
    background-color: #052E54; /* Apply background color to footer */
}

footer .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    padding: 0 20px; /* Add some padding to the sides */
}

footer ul {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0; /* Remove default padding */
    list-style-type: none; /* Remove default list style */
    margin: 0; /* Remove default margin */
}

footer ul li {
    border: 1px solid #ccc; /* Add solid border */
    border-radius: 2px;
    display: flex;
    flex-direction: column; /* Ensure content inside the li is stacked vertically */
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0; /* Remove default margin */
    width: 33.33%; /* Adjust width to ensure they fit side by side */
    text-align: center;
}

footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px; /* Add margin-top to space below list */
    padding: 0 20px; /* Add some padding to the sides */
}

footer .links p,
footer .links a {
    margin: 0 10px; /* Add some spacing between elements */
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

footer .links a img {
    width: 5%; /* Adjust width as needed */
    vertical-align: middle;
}

/*coming soon section*/

.coming-soon {
    background-image: url('../images/boston-night.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    color: white;
    height: 90vh;
    position: relative;
}

.coming-soon .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
    z-index: 1;
}

.coming-soon .content{
    position: relative;
    z-index: 2;
    padding: 20px;
    text-align: center; /* Center the text */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically within the content div */
    align-items: center; /* Center items horizontally within the content div */
}

.coming-soon .content h1{
    font-size: 48px;
}

.coming-soon .content p{
    font-size: 24px;
}

.coming-soon .btn {
    background-color: 	#c7884a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
}

.coming-soon .btn:hover {
    background-color: #8b5a2b; /* Darkened Gold */
}

.coming-soon .input{
        color: #052E54;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        text-decoration: none;
        margin-right: -4px;
}