/* General Styles */
body {
    font-family: 'Georgia', serif;
    background-color: #faf0e6;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

.container {
    width: 80%;
    max-width: 1200px; /* Add max-width to container */
    margin: auto;
    padding: 0 10px; /* Add padding to avoid overflow issues */
}

/* Header */
header {
    background-color: #052E54;
    padding: 20px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.logo {
    flex-shrink: 0;
    width: auto;
    max-width: 200px;
}

nav {
    flex-grow: 1;
    text-align: right;
}

/* Base styles */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    text-align: center;
    background-color: #052E54;
    border: 1px solid white;
    flex: 1;
}

nav ul li a {
    display: block;
    padding: 15px 30px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    box-sizing: border-box;
    white-space: nowrap;
}

nav ul li a:hover {
    background-color: white;
    color: #052E54;
    text-decoration: none;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    nav ul li a {
        padding: 10px 20px;
    }
}

/* Reduce width when horizontal */
@media (min-width: 769px) {
    nav ul li {
        max-width: 150px;
    }
}

/* Hero Section */
.hero {
    position: relative;
    height: 60vh;
    background-image: url('images/hero-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 2;
    padding: 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero .btn {
    background-color: #c7884a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
}

.hero .btn:hover {
    background-color: #8b5a2b;
}

.btn {
    background-color: #e67e22;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* About Section */
.about {
    padding: 50px 0;
    color: #052E54;
}

.about .container {
    border: 2px solid #052E54;
    padding: 20px;
}

.about h2 {
    font-size: 36px;
}

.about p {
    font-size: 18px;
}

/* Services Section */
.services {
    padding: 50px 0;
    background-color: #052E54;
    color: white;
}

.services h2 {
    font-size: 36px;
}

.services ul {
    list-style: none;
    padding: 0;
    border-bottom: 1px #ccc;
}

.services ul li {
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

/* Quote Section */
.quote {
    position: relative;
    padding: 50px 0;
    background-color: #faf0e6;
}

.quote .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.quote .container img {
    flex: 1;
    max-width: 50%;
    height: auto;
    border: 2px double #052E54;
    padding: 10px;
}

.quote h2 {
    flex: 0 0 30%;
    font-size: 24px;
    text-align: center;
    margin: 0;
    color: #052E54;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .quote .container {
        flex-direction: column;
        align-items: center;
    }

    .quote .container img {
        max-width: 80%;
        margin-bottom: 20px;
        order: 1;
    }

    .quote h2 {
        flex: 1;
        width: 100%;
        order: 2;
    }
}

/* Footer */
footer {
    color: #ccc;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #052E54;
}

footer .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

footer ul {
    display: flex;
    flex-wrap: wrap; /* Ensure items wrap on small screens */
    justify-content: center;
    width: 100%;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

footer ul li {
    border: 1px solid #ccc;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    flex: 1; /* Allow items to grow and shrink */
    min-width: 150px; /* Ensure a minimum width */
    text-align: center;
    box-sizing: border-box;
}

footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding: 0 20px;
}

footer .links p,
footer .links a {
    margin: 0 10px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

footer .links a img {
    width: 5%;
    vertical-align: middle;
}

/* Coming Soon Section */
.coming-soon {
    background-image: url('images/boston-night.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    color: white;
    height: 90vh;
    position: relative;
}

.coming-soon .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.coming-soon .content {
    position: relative;
    z-index: 2;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coming-soon .content h1 {
    font-size: 48px;
}

.coming-soon .content p {
    font-size: 24px;
}

.coming-soon .btn {
    background-color: #c7884a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
}

.coming-soon .btn:hover {
    background-color: #8b5a2b;
}

.coming-soon .input {
    color: #052E54;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    margin-right: -4
}